.new-pokemon-button {
    margin-top: 20px;
    padding: var(--button-padding);
    font-size: var(--font-size-normal);
    background-color: var(--accent-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-family-main);
  }
  